
*.dcu
*.~1~
*.~7~
*.~6~
*.~8~
*.~4~
*.~12~
*.~13~
*.~11~
*.~5~
*.~2~
*.~3~
*.~9~
*.~14~
*.~10~
*.~15~
*.~17~
*.~16~
*.~19~
*.~18~
*.~21~
*.~20~
*.~23~
*.~22~
*.~24~
*.local
__history/
__recovery/
*.exe
*.ini
*.INI
*.stat

*.FDB
SistemadeCheque/Projeto/JMSmartCheque.identcache
SistemadeCheque/Projeto/JMSmartCheque.identcache
